[submodule "themes/paperback"]
	path = themes/paperback
	url = https://github.com/dashdashzako/paperback
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
